# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/
*.db

# Env
.env
*.env.local

# .NET
bin/
obj/
*.user
publish/
out/
client/ResaPrint.Installer/Payload/*.exe

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
